

<style>
  body {
    background-color: rgb(235, 238, 243);
  }
  </style>

<div class=rsection>
  <center>
    <h1>Welcome to your accounts summary! What would you like to do today?</h1>
  </center>
</div>


  <center>
  <div class="card text-center">
    <h3 class="card-header">All Accounts</h3>
    <div class="card-body">
      <h5 class="card-title">$51,000,000.00</h5>
    </div>
  </div>
  </center>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Roth IRA</h5>
          <p class="card-text">Your balance is $50,000,000.00</p>
          <input type="button" onclick="location.href='    ';"
    value="Place New Order" />
          <input class="center" type="button"  onclick="location.href='orders.component.html';"
    value="Place New Trade" />
        </div>
      </div>
    </div>

    <center>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Brokerage Account</h5>
          <p class="card-text">Your balance is $1,000,000.00</p>
          <input type="button" onclick="location.href='    ';"
    value="Place New Order" />
          <input class="center" type="button"  onclick="location.href='orders.component.html';"
    value="Place New Trade" />
        </div>
      </div>
    </div>
  </div>
</center>


