<div class=rsection style="text-align: center;">
  <h2>Howdy! Welcome to your accounts summary!</h2>
</div>

<div class="card text-center">
  <h5 class="card-header">All Accounts</h5>
  <div class="card-body">
    <h6 class="card-title">${{balance}}</h6>
  </div>
</div>

<div style="text-align: center;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Brokerage Account ...7844</h5>
          <p class="card-text">Current Balance: $50,000,000.00</p>
          <a href="#" class="btn btn-primary">View Account Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Roth IRA ...4569</h5>
          <p class="card-text">Current Balance: $1,000,000.00</p>
          <a href="#" class="btn btn-primary">View Account Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
