<div class=rsection style="text-align: center;">
  <h2>Howdy! Welcome to your accounts summary!</h2>
</div>

<div class="card text-center">
  <h5 class="card-header">All Accounts</h5>
  <div class="card-body">
    <h6 class="card-title">${{balance}}</h6>
  </div>
</div>

<div style="text-align: center;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Brokerage Account ...7844</h5>
          <p class="card-text">Current Balance: $50,000,000.00</p>
          <a href="#" class="btn btn-primary">View Account Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Roth IRA ...4569</h5>
          <p class="card-text">Current Balance: $1,000,000.00</p>
          <a href="#" class="btn btn-primary">View Account Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<form style="text-align: center;">
  <button type="submit" class="btn btn-primary" style="text-align: center;">Create Account</button>
  <!--<a href="#" class="btn btn-primary" style="text-align: center;">Create Account</a>-->
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
