<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SIG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterationServlet</display-name>
    <servlet-name>RegisterationServlet</servlet-name>
    <servlet-class>com.revature.servlets.RegisterationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterationServlet</servlet-name>
    <url-pattern>/RegisterationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountServlet</display-name>
    <servlet-name>ViewAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountServlet</servlet-name>
    <url-pattern>/ViewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTradesServlet</display-name>
    <servlet-name>ViewTradesServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewTradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTradesServlet</servlet-name>
    <url-pattern>/ViewTradesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTradeServlet</display-name>
    <servlet-name>ViewTradeServlet</servlet-name>
    <servlet-class>com.revature.dao.ViewTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTradeServlet</servlet-name>
    <url-pattern>/ViewTradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTradeServlet</display-name>
    <servlet-name>CreateTradeServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTradeServlet</servlet-name>
    <url-pattern>/CreateTradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTradeServlet</display-name>
    <servlet-name>UpdateTradeServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTradeServlet</servlet-name>
    <url-pattern>/UpdateTradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeBrokerApproval</display-name>
    <servlet-name>TradeBrokerApproval</servlet-name>
    <servlet-class>com.revature.servlets.TradeBrokerApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeBrokerApproval</servlet-name>
    <url-pattern>/TradeBrokerApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetRecieverApproval</display-name>
    <servlet-name>SetRecieverApproval</servlet-name>
    <servlet-class>com.revature.servlets.SetRecieverApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetRecieverApproval</servlet-name>
    <url-pattern>/SetRecieverApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserTradesServlet</display-name>
    <servlet-name>GetAllUserTradesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetAllUserTradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserTradesServlet</servlet-name>
    <url-pattern>/GetAllUserTradesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserAccountsServlet</display-name>
    <servlet-name>GetUserAccountsServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetUserAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserAccountsServlet</servlet-name>
    <url-pattern>/GetUserAccountsServlet</url-pattern>
  </servlet-mapping>
</web-app>