<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DaoImpls">
	<test name="TestAccountDAOImpl">
		<classes>
			<class name="com.revature.testng.TestAccountDAOImpl" />
		</classes>
	</test>
	<test name="TestAssetPricingDaoImpl">
		<classes>
			<class name="com.revature.testng.TestAssetPricingDaoImpl" />
		</classes>
	</test>
	<test name="TestOrderDaoImpl">
		<classes>
			<class name="com.revature.testng.TestOrderDaoImpl" />
		</classes>
	</test>
	<test name="TestSecurityDaoImpl">
		<classes>
			<class name="com.revature.testng.TestSecurityDaoImpl" />
		</classes>
	</test>
	<test name="TestTradesDAOImpl">
		<classes>
			<class name="com.revature.testng.TestTradesDAOImpl" />
		</classes>
	</test>
	<test name="TestUserDAOImpl">
		<classes>
			<class name="com.revature.testng.TestUserDAOImpl" />
		</classes>
	</test>
</suite>