<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyMercurySuite" >
	<test name="SimpleMercuryTest" enabled="false">
		<classes>
			<class name="com.revature.testng.MercuryTours" />
		</classes>
	</test>
	<test name="SimpleMercuryTestImprovedSmoke">
	<groups>
		<run>
			<include name="setup"></include>
			<include name="teardown"></include>
			<include name="smoke"></include>
<!-- 			<exclude name="everything"></exclude> -->
		</run>
	</groups>
			<classes>
			<class name="com.revature.testng.MercuryToursNewAndImproved" />
		</classes>
	</test>
	<test name="SimpleMercuryTestImprovedEvrything" >
	<groups>
		<run>
			<include name="setup"></include>
			<include name="teardown"></include>
			<include name="everything"></include>
		</run>
	</groups>
			<classes>
			<class name="com.revature.testng.MercuryToursNewAndImproved" />
		</classes>
	</test>
</suite>