<div class=rsection style="text-align: center;">
  <h2>Place New Order</h2>
</div>

<div class="card text-center">
  <h5 class="card-header">Brokerage ...7844</h5>
  <div class="card-body">
    <h6 class="card-title">Available Cash: $50,000,000.00</h6>
  </div>
</div>


<form style="text-align: center;">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputTransactionType">Transaction Type</label>
      <select id="inputTransactionType" class="form-control">
        <option selected>Stocks/ETFs</option>
        <option>Mutual Funds</option>
        <option>Bonds</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputSymbol">Symbol</label>
      <input type="text" class="form-control" id="inputSymbol">
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      GOOG
    </div>
    <div class="card-body">
      <h5 class="card-title">1,103</h5>
    </div>
    <div class="card-footer text-muted">
      Volume 2.00M
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Place Order</button>
  <a href="#" class="btn btn-primary">Place Order</a>
</form>
